<div id="modal-dialog" class="modal-dialog">
  <div class="modal-content division">
    <div class="modal-header">
      <h3 class="modal-title">Division List</h3>
    </div>
    
    <div class="modal-body">
      <legend>Please select a division</legend>
      
      <div class="form-group-container">
          <select id="division" class="form-control" size="5">
          </select>
      </div>
    </div>

    <div class="modal-footer">
      <button id="ok-button" style="display: none" class="btn btn-success" disabled>OK</button>
      <button id="cancel-button" style="display: none" class="btn btn-danger">Cancel</button>
    </div>
  </div><!-- .modal-content -->
</div><!-- .modal-dialog -->
