<div id="modal-dialog" class="modal-dialog">
  <div class="modal-content login">
    <div class="modal-header">
      <h3 class="modal-title">VistA Authentication</h3>
    </div>
    
    <div id="login-intro" class="modal-body"></div>
    
    <div class="modal-body">
      <legend>Please log in</legend>
      
      <div class="form-group-container">
        <div class="form-group">
          <label for="username">Access Code &nbsp;</label>
          <input type="text" class="form-control focusedInput" id="username" placeholder="Enter your Access Code" />
        </div>
        
        <div class="form-group">
          <label for="password">Verify Code &nbsp;</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your Verify Code" />
        </div>
      </div>
    </div>
    
    <div class="modal-footer">
      <div class="checkbox login">
        <label for="chkChangeVerify">
          <input type="checkbox" id="chkChangeVerify">
          Change Verify Code?
        </label>
      </div>
      
      <button id="loginBtn" style="display: none" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
