/* Login modal */
#login-intro
{
  overflow-y: scroll;
  height: 350px;
}
.checkbox.login
{
  text-align: left;
}

/* Division selection modal */
.modal-content.division legend {
	text-align: center;
}

.modal-content.division select#division {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/* User info */
.user-info {
  cursor: default;
}
.dropdown-menu>li>a.user-info:hover, 
.dropdown-menu>li>a.user-info:focus {
  background-color: white;
}

/* Nav */
.nav-button { margin-right: 8px; }
